.map {
  height: 100%;
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 2px rgba(0,0,0,.5) inset;
}

.map:before {
  box-shadow: 4px 0 4px -4px rgba(0, 0, 0, 0.5) inset;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 4px;
  z-index: 1;
}

.inline-map {
  height: 250px;
  width: 50vh;

}
