.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;

  background-color: var(--theme-grey);
  border-bottom: 1px solid var(--shadow);
}

.home-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-rhs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
