.dropdown_container {
  position: absolute;
  z-index: 1;
}

.left {
  float: left;
  align-self: start;
}

.right {
  float: right;
  align-self: end;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.hidden {
   display: none !important;
}

.dropdown-button {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-button:hover {
  background-color: var(--theme-background-grey);
}
