.main-page {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 10px;
  flex-grow: 1;
  height: calc(100vh - 80px)
}

.welcome-user {
  font-weight: 1000;
  font-size: 40px;
  height: 70px;
  color: var(--theme-dark);
}

/* Left-Bar */
.left-bar {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.left-bar-logo, .left-bar-logo-title{
  height: 100%;
}

.left-bar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:65px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  /* background-color: var(--theme-background-grey); */
  border-radius: 5px;
}

.left-bar-logo-container:hover {
  box-shadow: 2px 2px 2px 2px var(--shadow);
  transition: .3s;

}


.planner {
  width: 100%;
  margin-right: 10px;
  background-color: var(--theme-background-grey);
  padding: 10px;
  border-radius: 5px;
}

.planner-title {
  font-weight: 800;
}

.event-box {
  background-color: white;
  border: 1px solid var(--shadow);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.event-box-header {
  display: flex;
}

.event-box-image {
  background-color: var(--theme-grey);
  height: 60px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-box-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-left: 10px;
  font-size: 18px;
}

.event-box-date {
  margin-top: 5px;
  border-top: 1px solid var(--shadow);
}

/* Main portion */
.center-container {
  display: flex;
  margin: 0 20px;
  padding: 0 5px;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none;  */
}
.center-container::-webkit-scrollbar {
  display: none;
}


/* EventLine */

.scroll {
  position: relative;
  height: calc(100% - 164px);
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll-section-title {
  font-weight: 800;
  font-size: 30px;
  position: relative;
  top:0;
  /* height: 100%; */
}

.eventline-container {
  display: flex;
  flex-direction: column;
}

.eventline-header {
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 0;
  font-weight: 600;
  font-size: 20px;
  border-bottom: 1px solid var(--shadow);
  padding: 4px 0;
}

.eventline-body {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.eventline-body-left {
  display: flex;
  padding: 5px 0;
  cursor: pointer;
}

.eventline-body-right {
  display: flex;
  align-items: center;

}

.clickable-icon {
  display: none;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin: 2px;
  padding: 5px;

  border-radius: 5px;
  transition: .3s;
}

.eventline-body:hover .clickable-icon {
  display: flex;
  color: var(--icon-grey);
  transition: .3s;
}

.clickable-icon:hover {
  background-color: var(--theme-default);
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--shadow);
}


.eventline-body:hover {
  box-shadow: 1px 2px 2px 2px var(--shadow);
  cursor: pointer;
  /* transition: .1s; */
}

.eventline-img {
  width: 150px;
  height: 100px;
  background-color: var(--icon-grey);
  border-radius: 5px;
}

.eventline-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

.eventline-date {
  font-weight: 800;
  font-size: 16px;
  color: var(--theme-dark);
}

.eventline-name {
  font-weight: 800;
  font-size: 16px;
  /* color: var(--theme-dark); */
}
.eventline-community  {
  color: grey;
  cursor: pointer;
}
.eventline-community:hover {
  font-weight: 600;
  font-size: 18px;
  color: var(--theme-dark);
  transition: font-size .3s;
}

.eventline-attendees  {
  color: grey;
}


/* Right Bar */
.right-bar {
  display: flex;
  flex-direction: column;
  width: 12%;
  justify-content: center;
}

.banner-ad {
  height: 50%;
  /* min-width: px; */
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: cover;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 1px 2px var(--shadow);
  text-decoration: none;
  color: black;
}

.linkedin-container {
  display: flex;
  align-items: center;
  background-color: var(--theme-background-grey);
  width: 100%;
  height: max-content;
}

.linkedin-button {
  min-height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.linkedin-text {
  padding-left: 10px;
  font-size: 12px;
}
