.main-page {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 10px;
  flex-grow: 1;
  justify-items: stretch;
  height: calc(100vh - 80px)
}

.welcome-user {
  font-weight: 1000;
  font-size: 40px;
  height: 70px;
  color: var(--theme-dark);
}

/* Left-Bar */
.left-bar {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.left-bar-logo {
  width: 20%;
}

.left-bar-logo-title{
  width: 80%;
}

.left-bar-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height:65px;
  max-width: 217px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  /* background-color: var(--theme-background-grey); */
  border-radius: 5px;
}

.left-bar-logo-container:hover {
  box-shadow: 1px 1px 3px 1px var(--shadow);
  transition: .3s;

}

.planner {
  width: max-content;
  margin-right: 10px;
  background-color: var(--theme-background-grey);
  padding: 4px;
  border-radius: 5px;
}

.planner-title {
  font-weight: 800;
}

.event-box {
  display: flex;
  flex-direction: column;
  width: calc(100% - 12px);
  align-items: center;
  background-color: white;
  border: 1px solid var(--shadow);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.event-box-none {
  display: flex;
  flex-direction: column;
  width: calc(100% - 12px);
  align-items: center;
  background-color: white;
  border: 1px solid var(--shadow);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.event-box:hover {
  box-shadow: 1px 1px 3px 1px var(--shadow);
}

.event-box-header {
  display: flex;
  width: 100%;
  align-items: center;
}

/* img {
  object-fit: cover;
  border-radius: 5px;
} */

.event-box-image {
  /* background-color: var(--theme-light); */
  height: 80px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  resize: width;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 5px;
}

.event-box-title {
  height: fit-content;
  width: calc(100% - 100px);
  font-weight: 600;
  margin-left: 10px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.event-box-date {
  font-weight: 800;
  /* font-size: 16px; */
  color: var(--theme-dark);
}

.event-box-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5px;
  border-top: 1px solid var(--shadow);

}
.event-box-address-line {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  color: grey;
}

.address-section {
  display: flex;
  flex-direction: column;
}

.city-state {
display: flex;
}

.location-icon {
color: grey;
font-size: 25px;
width:30px;
}

/* Main portion */
.center-container {
  /* position: relative; */
  display: flex;
  margin: 0 10px;
  padding: 0 5px;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.center-split {
  display: flex;
  width: 100%;
  height: calc(100% - 38.4px);

}

.eventscroll {
  position: relative;
  background-color: white;
  width: 40%;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.eventscroll::-webkit-scrollbar {
  display: none;
}

/* EventLine */

.communityscroll-title {
  font-weight: 800;
  font-size: 30px;
  position: sticky;
  top: 0px;
  background-color: white;
  /* height: 100%; */
  border-bottom: 1px solid var(--shadow);
}

.eventscroll-title {
  font-weight: 800;
  font-size: 30px;
  position: sticky;
  top: 0;
  background-color: white;
  border-bottom: 1px solid var(--shadow);
  /* height: 100%; */
}

.eventline-container {
  display: flex;
  flex-direction: column;
}

.eventline-header {
  background-color: white;
  position: sticky;
  top: 0;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 1px solid var(--shadow);
  padding: 4px 0;
}

.eventline-body {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.eventline-body-left {
  display: flex;
  padding: 5px 0;
  cursor: pointer;
}

.eventline-body-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 25px;
}

.clickable-icon {
  display: none;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 2px;
  padding: 5px;

  border-radius: 5px;
  transition: .3s;
}

.eventline-body:hover .clickable-icon {
  display: flex;
  color: var(--icon-grey);
  transition: .3s;
}

.clickable-icon:hover {
  background-color: var(--theme-default);
  cursor: pointer;
  box-shadow: 1px 1px 1px var(--shadow);
}


.eventline-body:hover {
  box-shadow: 1px 1px 3px 1px var(--shadow);
  cursor: pointer;
  /* transition: .1s; */
}

.eventline-img {
  width: 20%;
  height: 80%;
  /* background-color: var(--theme-light); */
  border-radius: 5px;
  background-position: 50%;
  background-size: cover;
  border-radius: 5px;
}

.eventline-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
  flex-grow: 1;
}

.eventline-date {
  font-weight: 800;
  font-size: 14px;
  color: var(--theme-dark);
}

.eventline-name {
  font-weight: 800;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* color: var(--theme-dark); */
}

/* Right Bar */
.right-bar {
  display: flex;
  flex-direction: column;
  width: 12%;
  justify-content: center;
}

.banner-ad {
  height: 70%;
  /* min-width: px; */
  background-repeat: no-repeat;
  background-position: 80%;
  background-size: cover;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 1px 2px var(--shadow);
  text-decoration: none;
  color: black;
}

.linkedin-container {
  display: flex;
  align-items: center;
  background-color: var(--theme-background-grey);
  width: 100%;
  height: max-content;
}

.linkedin-button {
  min-height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.linkedin-text {
  padding-left: 10px;
  font-size: 12px;
}

.scroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
}

.flex {
  display: flex;
  align-items: center;
}


.filter-container {
  background-color: var(--theme-background-grey);
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown-menu {
  background-color: white;
  border-radius: 5px;
}

.no-events {
  display: flex;
  background-color: var(--icon-grey);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.leftBar-fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  background-color: white;
  border: none;
  box-shadow: 1px 1px 1px 1px var(--shadow);
  border-radius: 5px;
  padding: 0;
  margin: 8px;
  padding: 4px
}


.filter-header {
  font-weight: bold;
  color: var(--theme-dark);
}

.checkbox-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 185px;
  margin: 1px 0;
}

.checkbox-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border:1px solid black ;
  margin: 0 4px;
  cursor:pointer;
}

.unchecked:hover {
  color: var(--icon-grey);
}

.checked {
  background-color: var(--theme-default);
}

.checked:hover {
  background-color: var(--theme-light);
}

.checkbox-label {
  flex-grow: 1;
}
